<%= form_for(@docker_image) do |f| %>
  <% if @docker_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@docker_image.errors.count, "error") %> prohibited this docker_image from being saved:</h2>

      <ul>
      <% @docker_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :repository_name %><br>
    <%= f.text_field :repository_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
