<!DOCTYPE html>
<html>
<head>
  <title>DcUpdateWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <p><%= link_to current_user.name, current_user %> | <%= link_to "Sign out", signout_path %></p>
<% else %>
  <p><%= link_to "Sign in with github", "/auth/github" %></p>
<% end %>
<p><%= link_to "Home", "/" %></p>
<%= yield %>

</body>
</html>
